@charset "UTF-8";

/*                          header style                      */
header {
	width: 100%;
}

#logo {
	width: 400px;
}

.headerlinks {
	float: right;
	padding-right: 20px;
}

.headerlinks ol {
	list-style: none;
}

.links {
	display: inline-block;
	font-size: 30px;
	padding-right: 30px;
	padding-top: 10px;
	font-weight: bold;
}

body {
	font-family: arial, fantasy;
	background-color: olive;
	color: black;
	padding: 20px;
}

.container {
	background-color: white;
	padding: 10px;
}

/*                         parkHome style                     */
#parkimg {
	float: left;
	
	width: 500px;
	display: inline-block;
	   	position: relative;
	    text-align: center;   	
}

.parkText {
	vertical-align: text-top;
	color: #111111;
	padding: 5px 20px 20px 20px;	
}

#parkinfo {
	width: 600px;
	display: inline-block;
	padding-left: 20px;
	vertical-align: top;
}

#quotes {
    position: absolute;
		width: 460px;
    bottom: 20px;
    left: 20px;
    		text-align: left;
    		font-style: italic;
    		font-family: cursive;
    		font-size: 14px;
	color: #EEEEEE;
	text-shadow: 2px 2px 2px #111111;
}



/*                         parkDetails style                   */
#park-details-img {
	width: 500px;
	display: inline-block;
	
	   	position: relative;
	    text-align: center; 
}

#park-details-info {
	width: 850px;
	display: inline-block;
	vertical-align: top;
}

#park-details-table {
	width: 100%;
	border-collapse: collapse;
}

#park-details-table td {
	padding: 2px;
	vertical-align: top;
}

#park-details-table tr:nth-child(odd) {
	background: lightgrey;
}

#line {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #808000 inset;
}

/*                              weather style                            */
#forecast {
	text-align: center;
	padding: 20px;
}

#forecast table {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

#forecast table tr:nth-child(odd) {
	background: lightyellow;
}

/*                              surveyInput style                            */


.alert {
	color: red;
}

.survey-form {
	padding-top: 20px;
}

.survey-form label {
	display: inline-block;
	text-align: right;
	width: 200px;
}

#submit-form {
	padding-left: 200px;
}

/*                              surveyResults style                            */
.survey-button {
	text-align: center;
}

.survey-button button {
	font-size: 20px;
	border-radius: 10px;
	background-color: DarkOliveGreen;
	color: white;
	text-shadow: 2px 2px 4px #000000;
	box-shadow: 2px 2px 4px #000000;
}

.survey-button button:hover {
	background-color: OliveDrab;
	}

.survey-button button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.result-div {
	display: inline-block;
	vertical-align: top;
}

.result-div img {
	width: 150px;
	border: 3px solid #000000;
}

.result-div h3 {
	padding-left: 10px;
}

#count {
	color: crimson;
}

#favorite-bar {
	position: relative;
	border: 1px solid darkgray;
	padding-left: 10px;
	padding-bottom: 5px;
}

#name {
	text-align: center;
	font-size: 13px;
	display: inline-block;
}

#count-bar-container {
	display: inline-block;
	width: 100%;
	height: 10px;
}

#count-bar {
	display: block;
	background-color: maroon;
	height: 10px;
}